body{
  display:flex;
  flex-direction:column;
  overflow:scroll;
}

#RedirectionAlert{
  display:inline-block;
  position:fixed;
  box-sizing:border-box;
  background:#f01e2c;
  border:black solid 4px;
  text-align:center;
  width:80vw;
  height:90vh;
  margin-top: 5vh;
  margin-right:auto;
  margin-left: 10vw;
  color:black;
  font-size: larger;
  font-weight:bold;
  padding-top:2%;
  padding-right:5%;
  padding-left:5%;
  padding-bottom: 10%;

}

#redirectionLennie{
  height:auto;
  width:20%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  /* pointer-events: none; */
  border:solid black 2px;
  border-radius:15%;
  -webkit-border-radius:15%;
  -moz-border-radius:15%;
  -ms-border-radius:15%;
  -o-border-radius:15%;
}

#redirectioncontainerLennie{
display: grid;
place-items: center;
}

#closeButton{
  display:block;
  position:absolute;
  height:auto;
  width:22%;
  background-color:white;
  border:black 1px solid;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color:black;
  margin:0% 30% 5% 70%;
} 

h1{
    display:block;
    text-align: center;
    font: size 1.0em;
    color:white;
    background-color:#92A8D1;
    padding:10%;
    border:solid 3px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

.autumnal{
  background:linear-gradient(90deg, #bbeeff,  #DBE6AF, #EDB579,#CC5543, #59484F);
  transform:rotate('360deg');
  -webkit-transform:rotate('360deg');
  -moz-transform:rotate('360deg');
  -ms-transform:rotate('360deg');
  -o-transform:rotate('360deg');
  animation-timing-function: 10s infinite;
}

/* leaf animations */

#leaves {position:relative;top:-50px;width:100%;text-align: right;}

#leaves i {
    display: inline-block;
    width: 200px;
    height: 150px;
    background: linear-gradient(to bottom right, #309900, #005600);
    transform: skew(20deg);
    border-radius: 5% 40% 70%;
    box-shadow: inset 0px 0px 1px #222;
    border: 1px solid #333;
    z-index: 1;
    -webkit-animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n) { -webkit-animation: falling2 5s 0s infinite; }
#leaves i:nth-of-type(3n) { -webkit-animation: falling3 5s 0s infinite; }

#leaves i:before {
  position: absolute;
  content: '';
  top: 117px;
  right: 9px;
  height: 27px;
  width: 32px;
  transform: rotate(49deg);
  border-radius: 0% 15% 15% 0%;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  border-left: 0px solid #222;
  border-right: 1px solid #222;
  background: linear-gradient(to right, rgba(0,100,0,1), #005600);
  z-index: 1;
}

#leaves i:after {
  content: '';
  height: 125px;
  width: 10px;
  background: linear-gradient(to right, rgba(0,0,0,.15), rgba(0,0,0,0));
  display: block;
  transform: rotate(125deg);
  position: absolute;
  left: 85px;
  border-radius:50%;
}


#leaves i:nth-of-type(n)    { height:23px; width:30px; }
#leaves i:nth-of-type(n):before { width:7px; height:5px; top:17px; right:1px; }
#leaves i:nth-of-type(n):after { width:2px; height:17px; left: 12px; top:0px; }

#leaves i:nth-of-type(2n+1)    { height:11px; width:16px; }
#leaves i:nth-of-type(2n+1):before { width:4px; height:3px; top:7px; right:0px; }
#leaves i:nth-of-type(2n+1):after { width:2px; height:6px; left: 5px; top:1px; }

#leaves i:nth-of-type(3n+2)  { height:17px; width:23px; }
#leaves i:nth-of-type(3n+2):before  { height:4px; width:4px; top:12px; right:1px; }
#leaves i:nth-of-type(3n+2):after  { height:10px; width:2px; top:1px; left:8px; }

#leaves i:nth-of-type(n)   { -webkit-animation-delay: 1.9s;}
#leaves i:nth-of-type(2n)  { -webkit-animation-delay: 3.9s;}
#leaves i:nth-of-type(3n)  { -webkit-animation-delay: 2.3s;}
#leaves i:nth-of-type(4n)  { -webkit-animation-delay: 4.4s;}
#leaves i:nth-of-type(5n)  { -webkit-animation-delay: 5s;  }
#leaves i:nth-of-type(6n)  { -webkit-animation-delay: 3.5s;}
#leaves i:nth-of-type(7n)  { -webkit-animation-delay: 2.8s;}
#leaves i:nth-of-type(8n)  { -webkit-animation-delay: 1.5s;}
#leaves i:nth-of-type(9n)  { -webkit-animation-delay: 3.3s;}
#leaves i:nth-of-type(10n) { -webkit-animation-delay: 2.5s;}
#leaves i:nth-of-type(11n) { -webkit-animation-delay: 1.2s;}
#leaves i:nth-of-type(12n) { -webkit-animation-delay: 4.1s;}
#leaves i:nth-of-type(13n) { -webkit-animation-delay: 1s;  }
#leaves i:nth-of-type(14n) { -webkit-animation-delay: 4.7s;}
#leaves i:nth-of-type(15n) { -webkit-animation-delay: 3s;  }

#leaves i:nth-of-type(n)    { background: linear-gradient(to bottom right, #309900, #005600); }
#leaves i:nth-of-type(2n+2)  { background: linear-gradient(to bottom right, #5e9900, #2b5600); }
#leaves i:nth-of-type(4n+1)  { background: linear-gradient(to bottom right, #990, #564500); }

#leaves i:nth-of-type(n)    { opacity: .7;}
#leaves i:nth-of-type(3n+1)  { opacity: .5;}
#leaves i:nth-of-type(3n+2)  { opacity: .3;}

#leaves i:nth-of-type(n)    {transform: rotate(180deg);}


#leaves i:nth-of-type(n) { -webkit-animation-timing-function:ease-in-out;}

@-webkit-keyframes falling {
    
    0% {
        -webkit-transform:
            translate3d(300,0,0)
            rotate(0deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-350px,700px,0)
            rotate(90deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling3 {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(-20deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-230px,640px,0)
            rotate(-70deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling2 {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(90deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-400px,680px,0)
            rotate(0deg);
        opacity: 0;
    }
}

h2{
  display:block;
  color:white;
  text-align: center;
}

.text{
  text-decoration: none;
  color:navy;
  font-weight: bold;
  font-size: 1.25rem;
}

.text_left_align{
  color:navy;
  font-weight: bold;
  font-size:1.25rem;
  padding-left:0;
}

  
#about_us{
    display:block;
    color:white;
    text-align: center;
    padding:5%;
    /* border-radius:20%;
    -webkit-border-radius:20%;
    -moz-border-radius:20%;
    -ms-border-radius:20%;
    -o-border-radius:20%; */
} 


#menu ul{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:contain;
}

#menu li{
padding:10px;
}

#Members{
  padding:5%;
  /* border-radius:20%;
  -webkit-border-radius:20%;
  -moz-border-radius:20%;
  -ms-border-radius:20%;
  -o-border-radius:20%; */
}

#Members ul{
    font: size 1.0em;
    color:#92A8D1;
    background-color: #92A8D1;
    margin:10%;
    padding:5%;
    border:solid 3px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

#Members li{
    color:grey;
    list-style-type: none;
    font-weight: bold;
    text-align: center;
}

.Months li{
  list-style-type: none;
}

p{
  display:block;
  background-color:#92A8D1;
  color:black;
  text-align:center;
  font: size 50pt;
  font-weight: bold;
  border:solid 3px;
  border-color:#92A8D1;
  border-radius:20%;
  padding:5%;
  margin:10%;
  -webkit-border-radius:20%;
  -moz-border-radius:20%;
  -ms-border-radius:20%;
  -o-border-radius:20%;
} 

img{
  display: inline-block;
  margin:10%;
}

img alt{
  color:white;
  text-align: center;
  background-color: #92A8D1;
  border:solid 3px;
}

img:hover{
  transform: scale(1.75);
  transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  -webkit-transform: scale(1.75);
  -moz-transform: scale(1.75);
  -ms-transform: scale(1.75);
  -o-transform: scale(1.75);
}

.img2:hover{
  transform: scale(2.50);
  transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  -webkit-transform: scale(2.50);
  -moz-transform: scale(2.50);
  -ms-transform: scale(2.50);
  -o-transform: scale(2.50);
}

/*styling for elements of image as link*/

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-text{
  position: absolute;
  top: 50%; 
  left: 70%; 
  transform: translate(-50%, -50%); 
  background-color: #000000; 
  color: #ffd200; 
  padding: 5px 10px; 
  font-size: 15px; 
  text-align: center;
}

a{
  color:navy;
  text-decoration: none;
  text-decoration: underline;
  -moz-text-decoration: none; 
}

a link{
  color:white;
  text-decoration: underline;
  -moz-text-decoration: none;
}

a visited{
  color:#92A8D1;
  text-decoration: none;
  -moz-text-decoration: none;
}

a:hover{
  color:whitesmoke;
  text-decoration: underline;
  -moz-text-decoration: none; 
}

a:active {
  background-color: paleturquoise;
}

#myDiv{
  width: contain;
  height: contain;
  visibility:hidden;
  background-color: grey;
  z-index: 1;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  position:absolute;
}

#myDiv ul{
  list-style-type:none;
}

#myDiv li{
  float:left;
  padding-top:5px;
  padding-bottom:10px;
  padding-left: 10px;
  padding-right:10px;
  font-weight: bold;
}

 #button{
  display:block;
  position:absolute;
  height:50px;
  width:20%;
  background-color:gray;
  border:black 2px solid;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color:white;
  margin:5% 20% 5% 60%;
  border-radius:15%;
  -webkit-border-radius:15%;
  -moz-border-radius:15%;
  -ms-border-radius:15%;
  -o-border-radius:15%;
} 

#menuUnderline{
  text-decoration: underline;
  color:navy;
}

.profile{
  display:flex;
  flex-direction:row;
}

.Profession{
  background-color: steelblue;
  color:white;
  display:block;
  text-align: center;
  margin-top:20px;
  margin-bottom: 20px;
  padding:20px;
  text-align:center;
}

.Likes, .Dislikes, .FavouriteBooks, .FavouriteMusic{
  background-color: steelblue;
  color:white;
  display:block;
  margin:20px;
  padding:20px;
  text-align:center;
  list-style-type: none;
}

.Surprisingfacts{
  background-color: steelblue;
  color:white;
  display:inline-block;
  margin:5% 20% 5% 20%;
  padding:5%;
  list-style-type: none;
  text-align:center;
}

.Likes li, .Dislikes li, .Surprisingfacts li, .FavouriteBooks li, .FavouriteMusic li{
  padding:10px;
}


fig{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right:auto;
}

fig img {
  vertical-align: top;
}
fig figcaption {
  text-align: center;
  font-family: bold;
  color:white;
}

#Thomas_family_photo{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-left:40%;
  margin-right:40%;
  border:solid #6B5B95 3px;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  border-radius: 15%;
}

#Bernard_profile_photo, #Jill_profile_photo, #Elena_profile_photo, #Harry_profile_photo, #Lennie_profile_photo {
  display:block;
  margin-right: 15%;
  margin-left: 35%;
  height: 25%;
  width:25%; 
  border:solid grey 3px;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
}

article{
  color:white;
  display:inline-block;
  text-align: center;
  background-color: steelblue;
  padding:20px;
}

/*COLOUR PALETTE SELECTION*/

.navy{
  background-color: navy;
}

.midnightblue{
  background-color: midnightblue;
}

.black {
  background-color:black;
  
}

.wintergray{
  background-color: #a4a4aC;
}

.AquamarineBlue{
  background-color: #7FFFD4;
}

.PaleGold{
  background-color:#E6BE8A;
}

.Gold{
  background-color:gold;
}

.SpringGreen{
  background-color:	 #c9dc87;
}

.blogDiv{
  border:solid #757c88 4px;
  background-color:#48AAAD;
  display:flex;
  flex-direction:column;
}

/*Adjustments for November Settings*/

#November_header{
  display:flex;
  flex-direction:column;
  align-content: center;
  justify-content:center;
}

.blogDivNovemberHeader{
  border:solid #757c88 4px;
  background-color:#e47127;
  display:flex;
  flex-direction:column;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 90vh;
}

.blogDivNovember{
  border:solid #757c88 4px;
  background-color:#682702 ;
  display:flex;
  flex-direction:column;
  margin-top: 10vh;
  margin-bottom:5vh;
}

.dateNovember, .newsNovember{
  color:white;
  border:solid 3px #757c88;
  background-color: 	 	#773f3f;
  text-align: center;
  padding:10px 10px 10px 10px;
  margin:5px;
  font-size:medium;
}

.blogPhotoDivNovember{
  display:flex;
  flex-direction: row;
  background-color: #395A42;
  padding-bottom: 15%;
  padding-top: 5%;
  margin-top:2%;
}

.date, .news{
  color:white;
  border:solid 3px #757c88;
  background-color:#0492c2;
  text-align: center;
  padding:10px 10px 10px 10px;
  margin:10px;
  font-size:medium;
}

.datenewsDiv{
  display:flex;
  flex-direction: row;
}

.datenewsDiv li{
  list-style-type: none;
}

.datenewsDivNovember li{
  list-style-type: none;
}

.blogPhotoDiv{
  display:flex;
  flex-direction: row;
  background-color: #7FFFD4;
  padding-bottom: 10%;
  padding-top: 5%;
  margin-top:2%;
}

.blogPhoto img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:70%;
  height:70%;
  border:solid grey;
  border-radius:30px;
  }

  .blogPhoto1 img{
    display: block;
    margin-bottom:5%;
    /* width:400px;
    height:400px; */
    width:300px;
    height:300px;
    margin-left:auto;
    margin-right: auto;
    border:solid grey;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}

.blogPhoto2 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:5%;
  width:70%;
  height:70%;
  border:solid grey;
  border-radius:30px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  -ms-border-radius:30px;
  -o-border-radius:30px;
}
  

  .blogPhotos3 img{
    display: block;
    border:solid grey;
    border-radius:30px;
  } 

  .sky{
    border-radius: 0%;
  background:#FFD437;
  background:#FFD437;
  background: radial-gradient(circle closest-corner at 15% 40%,   #FFD437 ,    #FFD437 20%,    #ffff66 21%,      #bbeeff 100% 100% );
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}

/*Creating August header with animated cyclist*/
#August_header{
 display: flex;
 flex-direction:column;
 justify-content:center;
 align-items: center;
 height: 50vh;
 width: 100vw;
 overflow: hidden;
 background-image: radial-gradient(circle closest-corner at 15% 20%,   #FFD437 ,    #FFD437 20%,    #ffff66 21%,     #bbeeff 100% 100% );
 border-radius:0;
 -webkit-border-radius:0;
 -moz-border-radius:0;
 -ms-border-radius:0;
 -o-border-radius:0;
 border:solid white;
 margin-bottom:20px;
}

#August_title{
  font-weight:bold;
  color:white;
  font-size: 1.75rem;
  position:absolute;
  top:90px;
}

.bike-riding {
  display:flex;
  flex-direction:column;
  transform:scale(0.2);
  -webkit-transform:scale(0.2);
  -moz-transform:scale(0.2);
  -ms-transform:scale(0.2);
  -o-transform:scale(0.2);
}

.cyclist {
  position: relative;
  animation: ride 1s linear infinite;
  top:400px;
}

/*Style for my bike:*/

.bike {
  position: relative;
  background-color: #B2AC88;
  width:5%;
  height: 5%;
  border-radius:10px;
  box-shadow: inset 10px -3px rgba(0,0,0,0.1);
}

.bike:before, .bike:after {
  content:"";
  position: absolute;
  background-color: #B2AC88;
  width:8px;
  height: 140px;
  top:-10px;
}

.bike:before {
  transform: rotate(35deg);
  left:126px;
  box-shadow: -120px 85px #B2AC88, 0px -30px #B2AC88;
}

.bike:after {
  transform: rotate(-35deg);
  left:49px;
  box-shadow: 120px 85px #B2AC88, 0px -30px #B2AC88;
}

.leftTyre, .rightTyre {
  width:150px;
  height:150px;
  position: absolute;
  border: 10px solid #333;
  border-radius:50%;
  z-index:1;
  top:30px;
  animation: spin 1s linear infinite;
}

.leftTyre {
  left:-140px;
}

.rightTyre {
  left:155px;
}

.leftTyre:before, .rightTyre:before {
  content:"";
  position: absolute;
  width:135px;
  height:135px;
  border-radius:50%;
  border: 8px solid #fcfffc;
}

.leftTyre:after, .rightTyre:after {
  content:"";
  position: absolute;
  width:2px;
  height: 145px;
  left:75px;
  top:0;
  background-color: #fcfffc;
}

.spokes {
  position: absolute;
  width:145px;
  height: 2px;
  background-color: #fcfffc;
  top:75px;
}

.spokes:before, .spokes:after {
  content:"";
  position: absolute;
   width:145px;
  height: 2px;
  background-color: #fcfffc;  
  left:3px;
}

.spokes:before {
  transform: rotate(45deg);
}

.spokes:after {
  transform: rotate(-45deg);
}

.wheel {
  z-index:6;
  position: absolute;
  border-radius:50%;
  background-color: #71706e;
  width:20px;
  height:20px;
  top:105px;
  left:-65px;
  box-shadow: 295px 0 #71706e, 146px 0px #71706e;
}

.wheel:before {
  content:"";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius:100%;
  border-top: 11px solid silver;
  border-left: 8px solid #B2AC88;
  border-bottom: 8px solid transparent;
  border-right: 8px solid transparent;
  transform: rotate(20deg);
  top:-140px;
  left:240.2px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  -ms-border-radius:100%;
  -o-border-radius:100%;
}

.shadow {
  position: absolute;
  width:520px;
  height:15px;
  background-color: rgba(90,83,72);
  top:620px;
  left:45px;
  border-radius:10px;
  animation: scale 2s linear infinite;
}

/*CSS Bike Animation*/


@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes scale {
  0% {transform: scaleX(1);}
  25% {transform: scaleX(0.9);}
  50% {transform: scaleX(1);}
  75% {transform: scaleX(0.9);}
  100% {transform: scaleX(1);}
}

/*Add pedals and the chain:*/

.pedals {
  position: relative;
  z-index:7;
  width:50px;
  height:50px;
  border: 5px solid black; 
  border-radius:50%;
  top:85px;
  left:60px;
  animation: spin 1s linear infinite; 
}

.pedals:before {
  content:"";
  position: absolute;
  border-radius: 10px;
  background-color: black;
  height: 30px;
  width:5px;
  left:22px;
  top:-5px;
}

.chain {
  position: absolute;
  top:81px;
}

.chain:before, .chain:after {
  content:"";
  position: absolute;
  background-color: #333;
  width:140px;
  height:2px;
  left:-60px;
}

.chain:before {
  top:20px;
  transform: rotate(-10deg);
}

.chain:after {
  top:47px;
  transform: rotate(10deg);
}

/*CSS Bike*/

/*Style the cyclist:*/

.girl {
  position: absolute;
}

.top {
  position: absolute;
  width:80px;
  height: 160px;
  border-top: 50px solid #32CD32;
  border-left: 50px solid #32CD32;
  border-top-left-radius:100%;
  top:-190px;
  left:-18px;
  z-index:1;
}

.top:before {
  content:"";
  position: absolute;
  width:50px;
  height: 50px;
  border-radius:50%;
  background-color: #32CD32;
  left:50px;
  top:-50px;
  box-shadow: -10px 10px#32CD32;
}

.rightArm, .leftArm {
  position: absolute;
  width:15px;
  height: 100px;
  border-radius:20px;
  transform: rotate(-30deg);
}

.rightArm {
  background-color: #32CD32;
  left:130px;
  top:-175px;
  z-index:8;
}

.leftArm {
  background-color: #32CD32;
  left:105px;
  top:-185px;
  z-index:-1;
}

.rightArm:before, .leftArm:before {
  content:"";
  position: absolute;
  width:15px;
  height: 100px;
  border-radius:20px;
  top:85px;
  left:15px;
  transform: rotate(-20deg);
}

.rightArm:before {
  background-color: #32CD32;
}

.leftArm:before {
  background-color: #32CD32;
}

.head {
  position: absolute;
  background-color: #cd9777;
  width: 40px;
  height:20px;
  top:-190px;
  left:110px;
  z-index:-1;
  transform: rotate(-20deg);
}

.head:before, .head:after {
  content:"";
  position: absolute;
  background-color: #deab90;
  border-radius: 50%;
}

.head:before {
  width: 75px;
  height: 75px;
  left:30px;
  top:-30px;
}

.head:after {
  width:20px;
  height:20px;
  left:78px;
  top:25px;
}

.hair {
  position: absolute;
  width: 80px;
  height:40px;
  border-radius:0 100% 0 0;
  background-color: #D0D9cd;
  top:-245px;
  left:142px; 
  z-index:10;
}

.hair:after {
  content:"";
  position: absolute;
  height:40px;
  width:40px;
  border-radius:50%;
  background-color: #D0D9cd;
  left:-20px;
}

.hair:before {
  content:"";
  position: absolute;
  width: 80px;
  height:25px;
  border-radius:50% 0/100% 0;
  background-color: #ee9b00;
  transform-origin: right;
  left:-44px;
  top:37px;
  animation: hair 1s linear infinite;
}

@keyframes hair {
  0% {transform: rotate(0);}
  25% {transform: rotate(10deg);}
  50% {transform: rotate(0);}
  75% {transform: rotate(10deg);}
  100% {transform: rotate(0);}
}

.strap {
  position: absolute;
  background-color: #333;
  width:7px;
  height:7px;
  border-radius:50%;
  top:-197px;
  left:197px;
}

.strap:after {
  content:"";
  position: absolute;
  background-color: #333;
  width:7px;
  height:60px;
  border-radius:10px;
  transform: rotate(-15deg);
  top:-22px;
  left:-30px;
}

.strap:before {
  content:"";
  position: absolute;
  background-color: #ee9b00;
  width:60px;
  height:30px;
  border-radius: 50px 50px 50px 0;
  left:-60px;
  top:-30px;
}

Add and animate the legs:

.trousers {
  position: absolute;
  top:-70px;
  left:-20px;
}

.rightLeg {
  position: absolute;
  background-color: #85929e;
  width: 120px;
  height:37px;
  top:17px;
  left:12px;
  border-radius: 0 10px 0 30px;
  transform-origin: top left;
  z-index:7;
  animation: rotate 1s linear infinite;
}

.trousers:after {
  content:"";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 0 25px 50px 50px;
  left:-5px;
  background-color: #85929e ;
  transform: rotate(20deg);  
}

.trousers:before {
  content:"";
  position: absolute;
  background-color:  #85929e ;
  width:65px;
  height:25px;
  border-radius: 20px;
  left:-10px;
  top:50px;
}

.leftLeg {
  position: absolute;
  background-color:  #85929e;
  width: 120px;
  height:37px;
  top:14px;
  left:13px;
  border-radius: 0 10px 0 30px;
  transform-origin: top left;
  z-index:-4;
  animation: rotate 1s linear infinite;
  animation-delay: .5s;
}

@keyframes rotate {
 0% {transform: rotate(0);}
  25% {transform: rotate(15deg);}
  55% {transform: rotate(30deg);}
  80% {transform: rotate(15deg);}
  100% {transform: rotate(0);}
}

.calf {
  position: absolute;
  transform-origin: top;
  width:33px;
  height: 120px;
  background-color:  #85929e ;
  left:87px;
  top:9px;
  border-radius: 0 10px 0 0;
  animation: cycle 1s linear infinite;
}

.leftcalf {
  position: absolute;
  transform-origin: top;
  width:33px;
  height: 120px;
  background-color:  #85929e ;
  left:87px;
  top:9px;
  border-radius: 0 10px 0 0;
  animation: cycle 1s linear infinite;
  animation-delay: .5s;
}

.leftcalf:before, .calf:before {
  content:"";
  position: absolute;
  background-color: #85929e ;
  width:55px;
  height: 30px;
  border-radius:0 20px 0 0;
  top:70px;
  box-shadow: inset 0 -10px #fff;
}

.leftcalf:after, .calf:after {
  content:"";
  position: absolute;
  background-color:  #85929e ;
  width:35px;
  height:10px;
  border-radius:10px;
  top:100px;
  left:10px;
}

@keyframes cycle {
 0% {transform: rotate(0);}
 25% {transform: rotate(-27deg);}
 50% {transform: rotate(-32deg);}
 75% {transform: rotate(-10deg);}
 100% {transform: rotate(0);}
}

/*CSS Cycling Animation

Add some clouds:*/

.clouds {
  position: absolute;
  width:130px;
  height:30px;
  border-radius:20px;
  background-color: rgba(255,255,255,0.5);
  top:10px;
  animation: clouds 2.7s linear infinite reverse;
}

.clouds:before, .clouds:after {
  content:"";
  position: absolute;
  width:130px;
  height:60px;
  border-radius:20px;
  background-color: rgba(255,255,255,0.5);
}

.clouds:before {
  left:-300px;
  top:-200px;
  animation: clouds 2.2s linear infinite reverse;
}

.clouds:after {
  left: 350px;
  top:-100px;
  animation: clouds 3.1s linear infinite reverse;
  -webkit-animation: clouds 3.1s linear infinite reverse;
}

@keyframes clouds {  
  from{ 
    left:-600px; 
  }
  to{ 
    left: 600px; 
  }
}

.December_2023_header
{
  background:black;
  height:80%;
  border:10px solid green;
  border-radius:30%;
  padding:10% 5%;
  -webkit-border-radius:30%;
  -moz-border-radius:30%;
  -ms-border-radius:30%;
  -o-border-radius:30%;
  margin-bottom: 10%;

}

/*CSS for the January 2024 header of animated snowman scene*/
.January2024_header{
  background: linear-gradient(180deg,rgb(36,60,62) 65%,#F2F3F5, snow );
  height:70vh;
  border:solid black 2px;
  position:relative;
  border-radius:16%;
  -webkit-border-radius:16%;
  -moz-border-radius:16%;
  -ms-border-radius:16%;
  -o-border-radius:16%;
}

.January_2024_title, .February_2024_title{
  color:white;
  font-weight: bold;
  font-size: 34px;
  background-color: inherit;
  border: 0;    Removes border which is around the h1 element on other blog pages as not required here
  margin:auto;   /*Centres the h1 title horizontally*/
  position:relative;
  top:30%;
  margin-left:50%;
}

/*Creation of moon January 2024 header*/
.moon{
  position:absolute;
  height:80px;
  width:80px;
  border-radius:50%;
  background: radial-gradient(rgb(246,241,213), rgb(218,217,215) 30%, white );
  top:10%;
  left:20%; 
}

.snowman{ 
  height:165px;
  width:120px;
  position:absolute; 
  margin:auto;
  top: 160px;
  left:380px;
  }

.snowman-Head{
    position:relative;      
    height:30%;
    width:50%;
    margin:auto;
    z-index:3;
    background-color: white;
    border:1px solid black;
    border-radius:70% 70% 65% 65%;
    animation-name:headRotate;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-direction:alternate;
}

.smnHatmain{
  position:absolute;
  top:-50%;
  left:25%;
  border-radius:15%;
  height:50%;
  width:50%;
  background-color:black;
  border:solid white 2px;
}

.smnHatbrim{
  position:absolute;
  top:0;
  left:0;
  height:10%;
  width:100%;
  background-color:black;
  border:solid white 2px;

}

.eye.right{
  position:absolute;
  width:7px; 
  height:7px;
  right:25%;
  top:25%;
  border:solid black 1px;
  background-color:black; 
  border-radius:50%; 
  }

.eye.left{
    position:absolute;
    width:7px; 
    height:7px;
    left:25%;
    top:25%;
    background-color:black; 
    border:solid black 1px;
    border-radius:50%;
    
} 

.eye-lid {
  width: 100%;
  height: 20%;
  background-color: white;
  top: 20%;
  left: -23%;
  border-radius: 50%;
  animation-name:eyesblink;
  animation-duration:0.7s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-direction:alternate;
}

.nose{
  position:absolute;
  top:40%;
  margin-left:46%;
  height:10px; 
  width:7px; 
  border-radius: 50%;
  background-color:orange;
  
  }

.mouth{
    position:absolute;
    top:70%;
    margin-left:40%;
    width:25%;
    height:5%;
    background-color:black; 
    
}

.Scarf{
  position:absolute;
  left:15%;
  top:90%;
  background-color: orange;
  width:77%;
  height:30%;
}

.snowmanBody{
  position:relative;
  height:70%;
  width:70%;
  background-color:white;
  z-index:2;
  /* border:0.2px solid black; */
  border-radius:35%;
  margin:auto;
  margin-bottom:10%;
  animation-name:bodyRotate;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-direction:alternate;
  -webkit-border-radius:35%;
  -moz-border-radius:35%;
  -ms-border-radius:35%;
  -o-border-radius:35%;
}

.arm.right{
  content:"";
  position:absolute;
  width:25%;
  height:38%;
  background-color: #FAF9F6;
  /* border:solid black 1px; */
  border-radius:35%;
  top:7%;
  right:-5%;
  z-index:1;
  transform:rotate(-30deg);
  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(-30deg);
  -ms-transform:rotate(-30deg);
  -o-transform:rotate(-30deg);
  -webkit-border-radius:40%;
  -moz-border-radius:35%;
  -ms-border-radius:35%;
  -o-border-radius:35%;
  animation-name: armright;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-direction:alternate;
}

.arm.left{
  content:"";
  position:absolute;
  width:23%;
  height:35%;
  background-color: #FAF9F6;
  /* border:solid black 1px; */
  border-radius:35%;
  top:7%;
  left:-5%;
  z-index:1;
  transform:rotate(-17deg);
  -webkit-border-radius:40%;
  -moz-border-radius:40%;
  -ms-border-radius:40%;
  -o-border-radius:40%;
  animation-name: armleft;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-direction:alternate;
  -webkit-transform:rotate(-17deg);
  -moz-transform:rotate(-17deg);
  -ms-transform:rotate(-17deg);
  -o-transform:rotate(-17deg);
}

.forearm.right{
  content:"";
  position:absolute;
  width:42%;
  height:17%;
  background-color: #FAF9F6;
  border-radius:35%;
  /* border:solid black 1px; */
  top:25%;
  right:49%;
  z-index:2;
  animation-name:forearmrightTransform;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-direction:alternate;
}

.forearm.left{
  content:"";
  position:absolute;
  width:40%;
  height:20%;
  background-color: #FAF9F6;
  /* border:solid black 1px; */
  border-radius: 35%;
  top:25%;
  left:50%;
  z-index:2;
  animation-name:forearmleftTransform;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-direction:alternate;
}

.glove.right{
  position:absolute;
  width:15%;
  height:25%;
  background-color: rgba(197,52,41,3);
  border:solid black 1px;
  border-radius:40%;
  -webkit-border-radius:40%;
  -moz-border-radius:40%;
  -ms-border-radius:40%;
  -o-border-radius:40%;
  top:20%;
  left:35%;
  z-index:3;
  transform:rotate(-360deg);
  -webkit-transform:rotate(-360deg);
  -moz-transform:rotate(-360deg);
  -ms-transform:rotate(-360deg);
  -o-transform:rotate(-360deg);
  animation-name:gloverightTransform;
        animation-duration:1s;
        animation-iteration-count:infinite;
        animation-timing-function:linear;
        animation-direction:alternate;
  
}

.glove.left{
  position:absolute;
  width:15%;
  height:25%;
  background-color: rgba(197,52,41,3);
  border:solid black 1px;
  border-radius:40%;
  -webkit-border-radius:40%;
  -moz-border-radius:40%;
  -ms-border-radius:40%;
  -o-border-radius:40%;
  top:20%;
  left:5%;
  z-index:3;
  margin-left:42%;
  animation-name:gloveleftTransform;
        animation-duration:1s;
        animation-iteration-count:infinite;
        animation-timing-function:linear;
        animation-direction:alternate;
  
}

.buttons{
  display:flex;
  flex-direction:column;
 
}

.button1{
  height:10px;
  width:10px;
  border-radius:50%;
  background-color: black;
  margin:auto;
  margin-top:10px;
  }

  .button2{
    height:10px;
    width:10px;
    border-radius:50%;
    background-color: black;
    margin:auto;
    margin-top:10px;
    }

    .button3{
      height:10px;
      width:10px;
      border-radius:50%;
      background-color: black;
      margin:auto;
      margin-top:10px;
      }

      .foot.right{
        position:absolute;
        height:30px;
        width:20px;
        background-color:black;
        border-radius: 30%;
        -webkit-border-radius: 40%;
        -moz-border-radius: 30%;
        -ms-border-radius: 30%;
        -o-border-radius: 30%;
        left:60%;
        top:90%;
        z-index:1;
        transform:rotate(-10deg);
        -webkit-transform:rotate(-10deg);
        -moz-transform:rotate(-10deg);
        -ms-transform:rotate(-10deg);
        -o-transform:rotate(-10deg);
        animation-name:feetRotate;
        animation-duration:1s;
        animation-iteration-count:infinite;
        animation-timing-function:linear;
        animation-direction:alternate;
}

      .foot.left{
        position:absolute;
        height:30px;
        width:20px;
        background-color:black;
        border-radius: 40%;
        left:20%;
        top:90%;
        z-index:1;
        transform:rotate(30deg);
        -webkit-transform: rotate(20%);
        -moz-transform: rotate(20%);
        -ms-transform: rotate(20%);
        -o-transform: rotate(20%);
        -webkit-border-radius: 40%;
        -moz-border-radius: 40%;
        -ms-border-radius: 40%;
        -o-border-radius: 40%;
        animation-name:feetRotate;
        animation-duration:1s;
        animation-iteration-count:infinite;
        animation-timing-function:linear;
        animation-direction:alternate;
}

#cateyeleft{
        animation-name:cateyesBlink;
        animation-duration:1s;
        animation-iteration-count:infinite;
        animation-timing-function:linear;
        animation-direction:alternate;
}


#cateyeright{
  animation-name:cateyesBlink;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-direction:alternate;
}

.cathead{
        animation-name:catheadRotate;
        animation-duration:1s;
        animation-iteration-count:infinite;
        animation-timing-function:linear;
        animation-direction:alternate;
      }

 /* #lennielegleft{
  animation-name:stretchlennielegleft;
        animation-duration:1s;
        animation-iteration-count:infinite;
        animation-timing-function:ease-in;
        animation-direction:alternate;
 }  */

 #lennielegright{
  animation-name:stretchlennielegright;
        animation-duration:1s;
        animation-iteration-count:infinite;
        animation-timing-function:ease-in;
        animation-direction:alternate;} 

#mouthtongue{
        animation-name:lickingtonguelennie;
        animation-duration:1s;
        animation-iteration-count:infinite;
        animation-timing-function:ease-in;
        animation-direction:alternate;
      } 
 
     
        @keyframes headRotate{
          10%{ transform:rotateZ(-2deg); -webkit-transform:rotateZ(-2deg); -moz-transform:rotateZ(-2deg); -ms-transform:rotateZ(-2deg); -o-transform:rotateZ(-2deg); }
          20%{ transform:rotateZ(-6deg); -webkit-transform:rotateZ(-6deg); -moz-transform:rotateZ(-6deg); -ms-transform:rotateZ(-6deg); -o-transform:rotateZ(-6deg); }
          } 

        @keyframes bodyRotate{
          10%{ transform:rotateZ(7deg); -webkit-transform:rotateZ(7deg); -moz-transform:rotateZ(7deg); -ms-transform:rotateZ(7deg); -o-transform:rotateZ(7deg); }
          20%{ transform:rotateZ(10deg); -webkit-transform:rotateZ(10deg); -moz-transform:rotateZ(10deg); -ms-transform:rotateZ(10deg); -o-transform:rotateZ(10deg); }
          } 

          @keyframes feetRotate{
            10%{ transform:rotateZ(3deg); -webkit-transform:rotateZ(3deg); -moz-transform:rotateZ(3deg); -ms-transform:rotateZ(3deg); -o-transform:rotateZ(3deg); }
            20%{ transform:rotateZ(6deg); -webkit-transform:rotateZ(6deg); -moz-transform:rotateZ(6deg); -ms-transform:rotateZ(6deg); -o-transform:rotateZ(6deg); }
            } 

      @keyframes eyesblink{
        from{ height:20%; }
        to{ height:100%;}
      } 

      @keyframes gloverightTransform{
        from{ transform:translate(0px,0px); -webkit-transform:translate(0px,0px); -moz-transform:translate(0px,0px); -ms-transform:translate(0px,0px); -o-transform:translate(0px,0px); }
        to{ transform:translate(-15px,0px); -webkit-transform:translate(-15px,0px); -moz-transform:translate(-15px,0px); -ms-transform:translate(-15px,0px); -o-transform:translate(-15px,0px); } -webkit-transform:translate(-20px,0px)              to; -moz-transform:translate(-20px,0px)              to; -ms-transform:translate(-20px,0px)              to; -o-transform:translate(-20px,0px)              to;
      }
          

      @keyframes gloveleftTransform{
        from{ transform:translate(0px,0px); -webkit-transform:translate(0px,0px); -moz-transform:translate(0px,0px); -ms-transform:translate(0px,0px); -o-transform:translate(0px,0px);
}
        to{ transform:translate(13px,0px); -webkit-transform:translate(13px,0px); -moz-transform:translate(13px,0px); -ms-transform:translate(13px,0px); -o-transform:translate(13px,0px);
}  
  }

@keyframes forearmrightTransform{
    from{ transform:translate(0px,0px); -webkit-transform:translate(0px,0px); -moz-transform:translate(0px,0px); -ms-transform:translate(0px,0px); -o-transform:translate(0px,0px);
}
    to{ transform:translate(-20px,0px); -webkit-transform:translate(-20px,0px); -moz-transform:translate(-20px,0px); -ms-transform:translate(-20px,0px); -o-transform:translate(-20px,0px);
}  
}

@keyframes forearmleftTransform{
  from{ transform:translate(0px,0px); -webkit-transform:translate(0px,0px); -moz-transform:translate(0px,0px); -ms-transform:translate(0px,0px); -o-transform:translate(0px,0px);
}
  to{ transform:translate(13px,0px); -webkit-transform:translate(13px,0px); -moz-transform:translate(13px,0px); -ms-transform:translate(13px,0px); -o-transform:translate(13px,0px);
}  
}


@keyframes armright{
  from{ transform:rotate( 0deg) ; -webkit-transform:rotate( 0deg) ; -moz-transform:rotate( 0deg) ; -ms-transform:rotate( 0deg) ; -o-transform:rotate( 0deg) ; }
  to { transform:rotate( -30deg); -webkit-transform:rotate( -30deg); -moz-transform:rotate( -30deg); -ms-transform:rotate( -30deg); -o-transform:rotate( -30deg); }
}


@keyframes armleft{
  from{ transform:rotate( 0deg ); -webkit-transform:rotate( 0deg ); -moz-transform:rotate( 0deg ); -ms-transform:rotate( 0deg ); -o-transform:rotate( 0deg ); }
  to { transform:rotate( 35deg ); -webkit-transform:rotate( 35deg ); -moz-transform:rotate( 35deg ); -ms-transform:rotate( 35deg ); -o-transform:rotate( 35deg ); }
}

/*Set lennie-cat movement animations*/

@keyframes catheadRotate{
  from{ transform:translate(0deg); -webkit-transform:translate(0deg); -moz-transform:translate(0deg); -ms-transform:translate(0deg); -o-transform:translate(0deg); }
  to{ transform:translate(-6px); -webkit-transform:translate(-6px); -moz-transform:translate(-6px); -ms-transform:translate(-6px); -o-transform:translate(-6px); }
  } 

@keyframes cateyesBlink{
    from{ ry:2.5px;}
    to{ ry:0.1px;}
  }

@keyframes stretchlennielegright{
  from{ width:65px; }
  to{width:75px;} 
} 

@keyframes lickingtonguelennie {
  from{ height:12px;}
  to{height:0px;}
}

/*FEBRUARY 2024*/
/*FEBRUARY 2024 HEADER*/
.February2024_header{
  width:100%;
  height:100%;
  background:#73a3c1;
  border: solid black 2px;
  margin-bottom: 5%;
  /* overflow:auto; */
}

.LennieImage_February_2024{  
  position:relative;   /*Header for SVG element*/
  width:100vw;
  height:70vh;
  top:auto;
  bottom:auto;
}

/*MARCH 2024*/

.March2024_header{
  background: linear-gradient(180deg,rgb(192,192,192) 0%, rgb(219,219,219) 60%, #c6d7b9 70%, #c6d7b9 90%);
  height:70vh;
  position:relative;
  border:solid  	#86B251 4px;
}

.March2024_title{
  font-weight:bold;
  color:#ff6767;
  font-size: 1.75rem;
  position:absolute;
  top:150px;
  left:50%;
}

#CloudsSpring1 {
  position:relative;
  top: calc(50vh - 350px);
  left: calc(0vw - 200px);
  /*animation: fly 4s infinite alternate;
  */-webkit-animation: fly 4s infinite alternate;
  animation:  fly 7s infinite linear;
  -webkit-animation:  fly 7s infinite linear;
}

@keyframes fly {
	0% { transform: translateX(-1200px); -webkit-transform: translateX(-1200px); -moz-transform: translateX(-1200px); -ms-transform: translateX(-1200px); -o-transform: translateX(-1200px); }
	100% { transform: translateX(3500px); -webkit-transform: translateX(3500px); -moz-transform: translateX(3500px); -ms-transform: translateX(3500px); -o-transform: translateX(3500px); }
}

/*Sets a class for bold large titles for headers in svg elements*/
.heavy {
  font: bold 30px sans-serif;
  fill:white;
}

.footer{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-around;
  color:white;
  font-weight:bold;
  width:100%;
  background-color:#64696c;
  margin-top:10%;
   
}

.footer ul{
   list-style-type: none;
   display:flex;
   flex-direction:row;
   align-items:center;
   justify-content:space-between;
}

.footer li{
  padding:15px;
}

.buttonFooter{
  border:none;
  background-color:#64696c;
  color:white;
}

.buttonFooter a{
  color:white;
  text-decoration: none;
  text-decoration: underline;
  -moz-text-decoration: none; 
  padding:10%;
}

#sendFeedback{
  width: contain;
  height: contain;
  padding:5% 15%;
  visibility:hidden;
  background-color: #0D98BA;
  color:black;
  z-index: 1;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  position:absolute;
}

.feedbackLabel{
  margin:5%;
}



/*@MEDIA QUERIES*/
/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other and enlarge Thomas Family photo home page */

@media screen and (max-width: 600px) {
  .blogPhotoDiv {
    display: flex;
    flex-direction: column;
  }

  .datenewsDiv{
    display: flex;
    flex-direction: column;
  }
  
  .profile{
    display: flex;
    flex-direction: column;
  }

  #Bernard_profile_photo, #Jill_profile_photo, #Elena_profile_photo, #Harry_profile_photo, #Lennie_profile_photo {
    display:block;
    margin-right:13%;
    margin-left: 13%;
    height: 74%;
    width:74%; 
    border:solid grey 3px;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
  }

  #ThomasFamilyIntro,.Profession,.profile,.photo,.Dislikes,.Surprisingfacts,.FavouriteBooks,.FavouriteMusic,.blogDiv {
    font-size: small;
  }

  .img2:hover{
    transform: scale(1.75);
    transition: 0.25s ease;
    -webkit-transition: 0.25s ease;
    -moz-transition: 0.25s ease;
    -ms-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    -webkit-transform: scale(1.75);
    -moz-transform: scale(1.75);
    -ms-transform: scale(1.75);
    -o-transform: scale(1.75);
}

.blogPhoto1 img{
    display: block;
    margin-bottom:5%;
    width:140px;
    height:140px;
    margin-left:auto;
    margin-right: auto;
    border:solid grey;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}


#menu ul{
  display:flex;
  flex-direction: column;
  width:100%;
}


#button{
  display:block;
  position:absolute;
  height:50px;
  width:25%;
  background-color:gray;
  border:black 2px solid;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color:white;
  margin:3% 15% 5% 70%;
  border-radius:15%;
  -webkit-border-radius:15%;
  -moz-border-radius:15%;
  -ms-border-radius:15%;
  -o-border-radius:15%;
} 

.footer ul{
  list-style-type: none;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
}

/*On screens that are 600px wide or less, ensure overlay-text and button does not exceed container size*/
.overlay-text{
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  color: #ffd200;
  padding: 5px 10px;
  font-size: 15px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#button{
  display:block;
  position:absolute;
  height:50px;
  width:20%;
  background-color:gray;
  border:black 2px solid;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color:white;
  margin:5% 55% 5% 45%;
  border-radius:15%;
  -webkit-border-radius:15%;
  -moz-border-radius:15%;
  -ms-border-radius:15%;
  -o-border-radius:15%;
} 

}

/*On screens that are 900px wide or less*/
@media screen and (max-width: 900px){
 .February2024_header{
  width:100%;
  height:100%;
  background:#73a3c1;
  border: solid black 2px;
  overflow:auto;
} 
} 


/* On screens that are 1200px wide or less, enlarge Thomas Family photo home page */
@media screen and (max-width: 900px){
  #Thomas_family_photo{
    display:flex;
    align-items:center;
   justify-content:center;
    margin-left:30%;
    margin-right:30%;
    border:solid #6B5B95 3px;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
    border-radius: 15%;
  }
}
  /* On screens that are 1200px wide or less, adjust the height of the November firework display */
@media screen and (max-width: 1200px)
  {
  .blogDivNovemberHeader{
    display:flex;
    flex-direction:column;
  }
  
}


 /* On screens that are 1200px wide or less,  make the menu links and photo displays stack on top of each other instead of next to each other*/

 @media screen and (max-width: 1200px)
 {
  #November_header{
    display:flex;
    flex-direction:column;
    align-content: center;
    justify-content:center;
  }
  
  .blogDivNovemberHeader{
    border:solid #757c88 4px;
    background-color:#e47127;
    display:flex;
    flex-direction:column;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 90vh;
  }
  
  .blogDivNovember{
    border:solid #757c88 4px;
    background-color:#682702 ;
    display:flex;
    flex-direction:column;
    margin-top: 10vh;
    margin-bottom:5vh;
  }
  
  .dateNovember, .newsNovember{
    color:white;
    border:solid 3px #757c88;
    background-color: 	 	#773f3f;
    text-align: center;
    padding:10px 10px 10px 10px;
    margin:5px;
    font-size:medium;
  }
  
  .blogPhotoDivNovember{
    display:flex;
    flex-direction:column;
    background-color: #395A42;
    padding-bottom: 15%;
    padding-top: 5%;
    margin-top:2%;
 }

  /*Ensure title and snowman remains centred on all screens*/
  @media screen and (max-width: 600px) {
   .snowman{ 
      height:165px;
      width:120px;
      position:absolute; 
      top:70%;
      left:30%;
      right:30%;
      bottom:30%;
      }
  
      .January_2024_title, .February_2024_title{
        color:white;
        font-weight: bold;
        font-size: 34px;
        background-color: inherit;
        border: 0;    /*Removes border which is around the h1 element on other blog pages as not required here*/
        /* margin:auto;   Centres the h1 title horizontally */
        position:relative;
        top:30%;
        margin-left:25%;}}
      }
    }

    @media screen and (min-width:400px) and (max-width: 600px) {
      .January2024_header{
       height:50vh;
      }
  }
  
  @media screen and (max-width: 400px) {
     .January_2024_title{
        color:white;
        font-weight: bold;
        font-size: 34px;
        background-color: inherit;
        border: 0;    /*Removes border which is around the h1 element on other blog pages as not required here*/
        /* margin:auto;   Centres the h1 title horizontally */
        position:relative;
        top:30%;
        margin-left:20%;
      }
  
    }

@media screen and (min-width: 799px) and (max-width: 1200px) {
  .snowman{ 
    height:165px;
    width:120px;
    position:absolute; 
    top:75%;
    left:30%;
    right:30%;
    bottom:25%;
    }

    .Lennie-cat{
      left:60%;
      height:auto;
      width:auto;
    }

  }

  @media screen and (min-width: 1201px) and (max-width: 1400px) {
    .snowman{ 
      height:165px;
      width:120px;
      position:absolute; 
      top:70%;
      left:30%;
      right:30%;
      bottom:30%;
      }

    }
  
  @media screen and (min-width: 1401px) and (max-width: 3441px) {
  .snowman{ 
    height:165px;
    width:120px;
    position:absolute; 
    top:78%;
    left:30%;
    right:30%;
    bottom:22%;
    }

  }

  Ensure footer displays in columnar form on reduced screen sizes
  @media screen and (max-width: 600px){
    .footer{
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
      color:white;
      font-weight:bold;
      width:100%;
      background-color:#71797E;
    }   
    
    
    .footer ul{
       list-style-type: none;
       display:flex;
       flex-direction:column;
       align-items:center;
       justify-content:center
    }
    
      
    }

    /*On screens that are 600px wide or less, ensure Lennie Footer animation and blanket does not overrun*/
    @media screen and (max-width: 600px){
      .LennieImage_February_2024{
        transform:scale(35%);
        -webkit-transform:scale(35%);
        -moz-transform:scale(35%);
        -ms-transform:scale(35%);
        -o-transform:scale(35%);
        height:60vh;
}
    }

/* On screens which are 600px wide or less, ensure all alert text fits inside red box by enlarging box height*/
@media screen and (max-width: 600px){
    #RedirectionAlert{
      display:inline-block;
      position:fixed;
      box-sizing:border-box;
      background:#f01e2c;
      border:black solid 4px;
      text-align:center;
      width:80vw;
      height:100vh;
      margin-top: 5vh;
      margin-right:auto;
      margin-left: 10vw;
      color:black;
      font-size: larger;
      font-weight:bold;
      padding-top:2%;
      padding-right:5%;
      padding-left:5%;
      padding-bottom: 10%;
    }
    }



