
body{
  display:flex;
  flex-direction:column;
  overflow:scroll;
}

h1{
    display:block;
    text-align: center;
    font: size 1.0em;
    color:white;
    background-color:#92A8D1;
    padding:10%;
    border:solid 3px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

h2{
  display:block;
  color:white;
  text-align: center;
}

.text{
  text-decoration: none;
  color:navy;
  font-weight: bold;
  font-size: 1.25rem;
}

  
#about_us{
    display:block;
    color:white;
    text-align: center;
} 

#Members ul{
    font: size 1.0em;
    color:#92A8D1;
    background-color: #92A8D1;
    margin:10%;
    padding:5%;
    border:solid 3px;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%; 
}

#Members li{
    color:grey;
    list-style-type: none;
    font-weight: bold;
    text-align: center;
}

.Months li{
  list-style-type: none;
}

p{
  display:block;
  background-color:#92A8D1;
  color:black;
  text-align:center;
  font: size 50pt;
  font-weight: bold;
  border:solid 3px;
  border-color:#92A8D1;
  border-radius:15%;
  padding:5%;
  margin:10%;
} 

img{
  display: inline-block;
  margin:10%;
}

img alt{
  color:white;
  text-align: center;
  background-color: #92A8D1;
  border:solid 3px;
}

a{
  color:navy;
  text-decoration: none;
  text-decoration: underline;
  -moz-text-decoration: none; 
}

a link{
  color:white;
  text-decoration: underline;
  -moz-text-decoration: none;
}

a visited{
  color:#92A8D1;
  text-decoration: none;
  -moz-text-decoration: none;
}

a:hover{
  color:whitesmoke;
  text-decoration: underline;
  -moz-text-decoration: none; 
}

a:active {
  background-color: paleturquoise;
}

#myDiv{
  /* display:inline; */
  width: 150px;
  height: 100%;
  visibility:hidden;
  background-color: grey;
}

#myDiv ul{
  list-style-type:none;
}

#myDiv li{
  float:left;
  padding-top:5px;
  padding-bottom:10px;
  font-weight: bold;
}

 #button{
  /* display:inline-block; */
  display:block;
  /* position: fixed; */
  position:absolute;
  height:50px;
  /* width: 100px; */
  width:20%;
  background-color:#92A8D1;
  border:gray 2px solid;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color:white;
  margin:5% 20% 5% 60%;
  border-radius:15%;
  -webkit-border-radius:15%;
  -moz-border-radius:15%;
  -ms-border-radius:15%;
  -o-border-radius:15%;
} 

#menuUnderline{
  text-decoration: underline;
  color:navy;
}

.profile{
  display:flex;
  flex-direction:row;
}

.Profession{
  background-color: steelblue;
  color:white;
  display:block;
  text-align: center;
  margin-top:20px;
  margin-bottom: 20px;
  padding:20px;
  text-align:center;
}

.Likes, .Dislikes, .FavouriteBooks, .FavouriteMusic{
  background-color: steelblue;
  color:white;
  display:block;
  margin:20px;
  padding:20px;
  text-align:center;
  list-style-type: none;
}

.Surprisingfacts{
  background-color: steelblue;
  color:white;
  display:inline-block;
  margin:5% 20% 5% 20%;
  padding:5%;
  list-style-type: none;
  text-align:center;
}

.Likes li, .Dislikes li, .Surprisingfacts li, .FavouriteBooks li, .FavouriteMusic li{
  padding:10px;
}

figcaption{
  text-align: center;
  font-family: bold;
  color:white;
}

#Thomas_family_photo{
  display: block;
  margin-right:25%;
  margin-left: 25%;
  width:50%;
  height:50%;
  border:solid #6B5B95 3px;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  border-radius: 15%;
}

#Bernard_profile_photo, #Jill_profile_photo, #Elena_profile_photo, #Harry_profile_photo, #Lennie_profile_photo {
  display:block;
  margin-right: 15%;
  margin-left: 35%;
  height: 25%;
  width:25%; 
  border:solid grey 3px;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
}

article{
  color:white;
  display:inline-block;
  text-align: center;
  background-color: steelblue;
  padding:20px;
}

.navy{
  background-color: navy;
}

.midnightblue{
  background-color: midnightblue;
}

.AquamarineBlue{
  background-color: #7FFFD4;
}

.blogDiv{
  border:solid #757c88 4px;
  background-color:#48AAAD;
  display:flex;
  flex-direction:column;
}

.date, .news{
  color:white;
  border:solid 3px #757c88;
  background-color:#0492c2;
  text-align: center;
  padding:10px 10px 10px 10px;
  margin:10px
}

.datenewsDiv{
  display:flex;
  flex-direction: row;
}

.blogPhotoDiv{
  display:flex;
  flex-direction: row;
  background-color: #7FFFD4;
  padding-bottom: 5%;
}

.blogPhoto img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:70%;
  height:70%;
  border:solid grey;
  border-radius:30px;
  }

  .blogPhoto1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:5%;
    width:30%;
    height:30%;
    border:solid grey;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}

.blogPhoto2 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:5%;
  width:30%;
  height:30%;
  border:solid grey;
  border-radius:30px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  -ms-border-radius:30px;
  -o-border-radius:30px;
}
  

  .blogPhotos3 img{
    display: block;
    border:solid grey;
    border-radius:30px;
  } 

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .blogPhotoDiv {
    display: flex;
    flex-direction: column;
  }

  .profile{
    display: flex;
    flex-direction: column;
  }

  #Bernard_profile_photo, #Jill_profile_photo, #Elena_profile_photo, #Harry_profile_photo, #Lennie_profile_photo {
    display:block;
    margin-right:13%;
    margin-left: 13%;
    height: 74%;
    width:74%; 
    border:solid grey 3px;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
  }

  .Profession,.profile,.photo,.Dislikes,.Surprisingfacts,.FavouriteBooks,.FavouriteMusic {
    font-size: small;
  }

}

  