#November_header body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}
#November_header .pyro > .before, #November_header .pyro > .after {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}
#November_header .pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: 66px 11.3333333333px hsl(162, 100%, 50%), -67px -185.6666666667px hsl(293, 100%, 50%), 47px -185.6666666667px hsl(278, 100%, 50%), -123px 61.3333333333px hsl(29, 100%, 50%), 76px -127.6666666667px hsl(327, 100%, 50%), 235px -174.6666666667px hsl(336, 100%, 50%), -70px 73.3333333333px hsl(29, 100%, 50%), -242px -321.6666666667px hsl(263, 100%, 50%), 236px -201.6666666667px hsl(134, 100%, 50%), 5px -207.6666666667px hsl(247, 100%, 50%), 76px -37.6666666667px hsl(352, 100%, 50%), 232px -53.6666666667px hsl(21, 100%, 50%), -182px -280.6666666667px hsl(184, 100%, 50%), -78px -7.6666666667px hsl(66, 100%, 50%), 235px -385.6666666667px hsl(94, 100%, 50%), -12px -19.6666666667px hsl(343, 100%, 50%), -215px -296.6666666667px hsl(337, 100%, 50%), -214px 48.3333333333px hsl(59, 100%, 50%), 91px 70.3333333333px hsl(306, 100%, 50%), -169px -388.6666666667px hsl(95, 100%, 50%), -16px -48.6666666667px hsl(35, 100%, 50%), 242px -49.6666666667px hsl(20, 100%, 50%), 209px -79.6666666667px hsl(272, 100%, 50%), 62px -47.6666666667px hsl(333, 100%, 50%), 21px -343.6666666667px hsl(162, 100%, 50%), 45px -145.6666666667px hsl(176, 100%, 50%), 220px -186.6666666667px hsl(3, 100%, 50%), 186px -385.6666666667px hsl(81, 100%, 50%), 168px -213.6666666667px hsl(98, 100%, 50%), 152px -333.6666666667px hsl(93, 100%, 50%), -45px -374.6666666667px hsl(292, 100%, 50%), -72px -317.6666666667px hsl(290, 100%, 50%), -144px -5.6666666667px hsl(143, 100%, 50%), 70px -151.6666666667px hsl(116, 100%, 50%), 81px -46.6666666667px hsl(150, 100%, 50%), 165px -402.6666666667px hsl(287, 100%, 50%), 129px -188.6666666667px hsl(42, 100%, 50%), -53px -181.6666666667px hsl(79, 100%, 50%), -76px 47.3333333333px hsl(215, 100%, 50%), 208px -278.6666666667px hsl(349, 100%, 50%), 107px 41.3333333333px hsl(130, 100%, 50%), 185px -249.6666666667px hsl(152, 100%, 50%), -245px -52.6666666667px hsl(143, 100%, 50%), -7px -147.6666666667px hsl(91, 100%, 50%), -104px 10.3333333333px hsl(237, 100%, 50%), -82px -194.6666666667px hsl(223, 100%, 50%), 235px -325.6666666667px hsl(310, 100%, 50%), 62px -317.6666666667px hsl(218, 100%, 50%), 173px -229.6666666667px hsl(341, 100%, 50%), -209px -62.6666666667px hsl(135, 100%, 50%), 5px -207.6666666667px hsl(148, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  margin-bottom: 20px;
}

*, html {
  box-sizing: border-box;
}

body {
  padding: 2em;
}

#tree {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.red {
  fill: #aa1231;
  animation: 0.6s red-flash ease-in-out infinite;
}
@keyframes red-flash {
  40% {
    fill: #ea385c;
  }
  80% {
    fill: #aa1231;
  }
}

.gold-lt {
  fill: #c1881c;
  animation: 0.6s gold-lt-flash ease-in-out infinite;
}
@keyframes gold-lt-flash {
  40% {
    fill: #e7b75c;
  }
  80% {
    fill: #c1881c;
  }
}

.blue-lt {
  fill: #1f3e64;
  animation: 0.6s blue-lt-flash ease-in-out infinite;
}
@keyframes blue-lt-flash {
  40% {
    fill: #386fb1;
  }
  80% {
    fill: #1f3e64;
  }
}

.blue-dk {
  fill: #0f1f2f;
  animation: 0.6s blue-dk-flash ease-in-out infinite;
}
@keyframes blue-dk-flash {
  40% {
    fill: #28527c;
  }
  80% {
    fill: #0f1f2f;
  }
}

.gold-dk {
  fill: #69512a;
  animation: 0.6s gold-dk-flash ease-in-out infinite;
}
@keyframes gold-dk-flash {
  40% {
    fill: #b28947;
  }
  80% {
    fill: #69512a;
  }
}

.g1 {
  animation-delay: 0s;
}

.g2 {
  animation-delay: 0.4s;
}

.g3 {
  animation-delay: 0.8s;
}

.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}
.snowflake:nth-child(1) {
  --size: 0.6vw;
  --left-ini: 0vw;
  --left-end: -2vw;
  left: 98vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(2) {
  --size: 1vw;
  --left-ini: -6vw;
  --left-end: 9vw;
  left: 66vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(3) {
  --size: 1vw;
  --left-ini: -6vw;
  --left-end: -8vw;
  left: 28vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(4) {
  --size: 0.4vw;
  --left-ini: 9vw;
  --left-end: 4vw;
  left: 49vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(5) {
  --size: 0.4vw;
  --left-ini: -8vw;
  --left-end: -6vw;
  left: 60vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(6) {
  --size: 1vw;
  --left-ini: -7vw;
  --left-end: 0vw;
  left: 10vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(7) {
  --size: 0.4vw;
  --left-ini: 5vw;
  --left-end: -7vw;
  left: 38vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(8) {
  --size: 0.6vw;
  --left-ini: -5vw;
  --left-end: 2vw;
  left: 83vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(9) {
  --size: 0.6vw;
  --left-ini: -2vw;
  --left-end: 3vw;
  left: 19vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(10) {
  --size: 0.8vw;
  --left-ini: 6vw;
  --left-end: 0vw;
  left: 52vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(11) {
  --size: 0.6vw;
  --left-ini: -8vw;
  --left-end: 0vw;
  left: 16vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(12) {
  --size: 0.2vw;
  --left-ini: 0vw;
  --left-end: -4vw;
  left: 88vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(13) {
  --size: 0.6vw;
  --left-ini: 7vw;
  --left-end: -9vw;
  left: 42vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(14) {
  --size: 0.8vw;
  --left-ini: -8vw;
  --left-end: -1vw;
  left: 12vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(15) {
  --size: 1vw;
  --left-ini: 4vw;
  --left-end: -5vw;
  left: 5vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(16) {
  --size: 1vw;
  --left-ini: -8vw;
  --left-end: 4vw;
  left: 58vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(17) {
  --size: 1vw;
  --left-ini: -6vw;
  --left-end: 4vw;
  left: 5vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(18) {
  --size: 0.4vw;
  --left-ini: -3vw;
  --left-end: -6vw;
  left: 85vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(19) {
  --size: 1vw;
  --left-ini: -5vw;
  --left-end: 6vw;
  left: 73vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(20) {
  --size: 1vw;
  --left-ini: 6vw;
  --left-end: -3vw;
  left: 87vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(21) {
  --size: 0.2vw;
  --left-ini: 4vw;
  --left-end: -3vw;
  left: 99vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(22) {
  --size: 0.2vw;
  --left-ini: -9vw;
  --left-end: 10vw;
  left: 47vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(23) {
  --size: 0.4vw;
  --left-ini: 9vw;
  --left-end: -1vw;
  left: 38vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(24) {
  --size: 0.4vw;
  --left-ini: -8vw;
  --left-end: 4vw;
  left: 10vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(25) {
  --size: 0.8vw;
  --left-ini: -5vw;
  --left-end: -4vw;
  left: 47vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(26) {
  --size: 1vw;
  --left-ini: 9vw;
  --left-end: 1vw;
  left: 18vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(27) {
  --size: 0.4vw;
  --left-ini: 6vw;
  --left-end: -4vw;
  left: 1vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(28) {
  --size: 0.2vw;
  --left-ini: 7vw;
  --left-end: -7vw;
  left: 90vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(29) {
  --size: 0.4vw;
  --left-ini: 6vw;
  --left-end: 4vw;
  left: 50vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(30) {
  --size: 0.8vw;
  --left-ini: -7vw;
  --left-end: -6vw;
  left: 86vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(31) {
  --size: 0.8vw;
  --left-ini: -9vw;
  --left-end: -4vw;
  left: 13vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(32) {
  --size: 0.4vw;
  --left-ini: -6vw;
  --left-end: -5vw;
  left: 91vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(33) {
  --size: 0.8vw;
  --left-ini: 9vw;
  --left-end: 3vw;
  left: 63vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(34) {
  --size: 1vw;
  --left-ini: -5vw;
  --left-end: 10vw;
  left: 13vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(35) {
  --size: 0.2vw;
  --left-ini: 6vw;
  --left-end: -4vw;
  left: 19vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(36) {
  --size: 0.6vw;
  --left-ini: -1vw;
  --left-end: -4vw;
  left: 66vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(37) {
  --size: 1vw;
  --left-ini: 5vw;
  --left-end: -8vw;
  left: 48vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(38) {
  --size: 1vw;
  --left-ini: -3vw;
  --left-end: -4vw;
  left: 51vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(39) {
  --size: 0.6vw;
  --left-ini: 4vw;
  --left-end: -7vw;
  left: 27vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(40) {
  --size: 0.2vw;
  --left-ini: -6vw;
  --left-end: 4vw;
  left: 78vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(41) {
  --size: 1vw;
  --left-ini: -1vw;
  --left-end: 0vw;
  left: 75vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(42) {
  --size: 0.2vw;
  --left-ini: 2vw;
  --left-end: 10vw;
  left: 27vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(43) {
  --size: 1vw;
  --left-ini: -2vw;
  --left-end: -8vw;
  left: 33vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(44) {
  --size: 0.2vw;
  --left-ini: 3vw;
  --left-end: 9vw;
  left: 87vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(45) {
  --size: 0.4vw;
  --left-ini: -2vw;
  --left-end: -5vw;
  left: 89vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(46) {
  --size: 1vw;
  --left-ini: 5vw;
  --left-end: -1vw;
  left: 63vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(47) {
  --size: 0.6vw;
  --left-ini: 7vw;
  --left-end: 6vw;
  left: 77vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(48) {
  --size: 0.8vw;
  --left-ini: 5vw;
  --left-end: -2vw;
  left: 43vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(49) {
  --size: 1vw;
  --left-ini: 3vw;
  --left-end: 0vw;
  left: 78vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(50) {
  --size: 0.6vw;
  --left-ini: 9vw;
  --left-end: -9vw;
  left: 47vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -4s;
}/*# sourceMappingURL=main.css.map */