#November_header body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}
#November_header .pyro > .before, #November_header .pyro > .after {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}
#November_header .pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: 226px -181.6666666667px hsl(80, 100%, 50%), -209px -17.6666666667px hsl(322, 100%, 50%), 213px -282.6666666667px hsl(192, 100%, 50%), 38px -240.6666666667px hsl(338, 100%, 50%), -230px -183.6666666667px hsl(158, 100%, 50%), -155px -201.6666666667px hsl(54, 100%, 50%), 173px -412.6666666667px hsl(264, 100%, 50%), 189px 42.3333333333px hsl(241, 100%, 50%), -4px -192.6666666667px hsl(135, 100%, 50%), 163px -386.6666666667px hsl(288, 100%, 50%), -147px -408.6666666667px hsl(47, 100%, 50%), 201px 22.3333333333px hsl(127, 100%, 50%), 150px -142.6666666667px hsl(155, 100%, 50%), -226px -214.6666666667px hsl(359, 100%, 50%), 221px -404.6666666667px hsl(77, 100%, 50%), -203px -265.6666666667px hsl(11, 100%, 50%), 6px -166.6666666667px hsl(326, 100%, 50%), 124px -119.6666666667px hsl(337, 100%, 50%), 230px -140.6666666667px hsl(107, 100%, 50%), -211px -77.6666666667px hsl(206, 100%, 50%), 60px -43.6666666667px hsl(46, 100%, 50%), -157px -402.6666666667px hsl(174, 100%, 50%), -138px -80.6666666667px hsl(165, 100%, 50%), -63px 59.3333333333px hsl(245, 100%, 50%), -221px 49.3333333333px hsl(263, 100%, 50%), -63px -310.6666666667px hsl(244, 100%, 50%), -176px 40.3333333333px hsl(163, 100%, 50%), -186px 41.3333333333px hsl(255, 100%, 50%), 57px -289.6666666667px hsl(122, 100%, 50%), 179px -326.6666666667px hsl(260, 100%, 50%), -75px -242.6666666667px hsl(154, 100%, 50%), 221px -212.6666666667px hsl(91, 100%, 50%), -100px -271.6666666667px hsl(117, 100%, 50%), 54px -175.6666666667px hsl(130, 100%, 50%), 3px 56.3333333333px hsl(212, 100%, 50%), -176px -358.6666666667px hsl(248, 100%, 50%), -66px -254.6666666667px hsl(74, 100%, 50%), -243px -239.6666666667px hsl(52, 100%, 50%), -186px -190.6666666667px hsl(186, 100%, 50%), -20px -106.6666666667px hsl(198, 100%, 50%), -224px -46.6666666667px hsl(343, 100%, 50%), -153px -13.6666666667px hsl(7, 100%, 50%), 10px -384.6666666667px hsl(240, 100%, 50%), 110px -302.6666666667px hsl(212, 100%, 50%), -241px 6.3333333333px hsl(58, 100%, 50%), 157px -190.6666666667px hsl(276, 100%, 50%), 42px -19.6666666667px hsl(172, 100%, 50%), -67px -209.6666666667px hsl(286, 100%, 50%), -24px -159.6666666667px hsl(56, 100%, 50%), -146px -88.6666666667px hsl(298, 100%, 50%), 14px -396.6666666667px hsl(81, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  margin-bottom: 20px;
}

*, html {
  box-sizing: border-box;
}

body {
  padding: 2em;
}

#tree {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.red {
  fill: #aa1231;
  animation: 0.6s red-flash ease-in-out infinite;
}
@keyframes red-flash {
  40% {
    fill: #ea385c;
  }
  80% {
    fill: #aa1231;
  }
}

.gold-lt {
  fill: #c1881c;
  animation: 0.6s gold-lt-flash ease-in-out infinite;
}
@keyframes gold-lt-flash {
  40% {
    fill: #e7b75c;
  }
  80% {
    fill: #c1881c;
  }
}

.blue-lt {
  fill: #1f3e64;
  animation: 0.6s blue-lt-flash ease-in-out infinite;
}
@keyframes blue-lt-flash {
  40% {
    fill: #386fb1;
  }
  80% {
    fill: #1f3e64;
  }
}

.blue-dk {
  fill: #0f1f2f;
  animation: 0.6s blue-dk-flash ease-in-out infinite;
}
@keyframes blue-dk-flash {
  40% {
    fill: #28527c;
  }
  80% {
    fill: #0f1f2f;
  }
}

.gold-dk {
  fill: #69512a;
  animation: 0.6s gold-dk-flash ease-in-out infinite;
}
@keyframes gold-dk-flash {
  40% {
    fill: #b28947;
  }
  80% {
    fill: #69512a;
  }
}

.g1 {
  animation-delay: 0s;
}

.g2 {
  animation-delay: 0.4s;
}

.g3 {
  animation-delay: 0.8s;
}

.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}
.snowflake:nth-child(1) {
  --size: 1vw;
  --left-ini: -5vw;
  --left-end: 8vw;
  left: 65vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(2) {
  --size: 1vw;
  --left-ini: -6vw;
  --left-end: -8vw;
  left: 57vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(3) {
  --size: 0.4vw;
  --left-ini: -1vw;
  --left-end: 3vw;
  left: 54vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(4) {
  --size: 0.8vw;
  --left-ini: 2vw;
  --left-end: 4vw;
  left: 99vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(5) {
  --size: 0.2vw;
  --left-ini: 1vw;
  --left-end: 10vw;
  left: 36vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(6) {
  --size: 0.8vw;
  --left-ini: 6vw;
  --left-end: 1vw;
  left: 85vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(7) {
  --size: 0.2vw;
  --left-ini: 0vw;
  --left-end: 4vw;
  left: 91vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(8) {
  --size: 0.8vw;
  --left-ini: -8vw;
  --left-end: 8vw;
  left: 64vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(9) {
  --size: 0.4vw;
  --left-ini: -8vw;
  --left-end: 10vw;
  left: 75vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(10) {
  --size: 0.4vw;
  --left-ini: -7vw;
  --left-end: 3vw;
  left: 94vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(11) {
  --size: 0.2vw;
  --left-ini: -5vw;
  --left-end: -5vw;
  left: 86vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(12) {
  --size: 0.2vw;
  --left-ini: 1vw;
  --left-end: 1vw;
  left: 34vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(13) {
  --size: 0.4vw;
  --left-ini: 3vw;
  --left-end: 2vw;
  left: 86vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(14) {
  --size: 0.2vw;
  --left-ini: 6vw;
  --left-end: 5vw;
  left: 11vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(15) {
  --size: 0.6vw;
  --left-ini: 7vw;
  --left-end: 10vw;
  left: 13vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(16) {
  --size: 1vw;
  --left-ini: -6vw;
  --left-end: 0vw;
  left: 47vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(17) {
  --size: 1vw;
  --left-ini: -5vw;
  --left-end: -4vw;
  left: 35vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(18) {
  --size: 1vw;
  --left-ini: -4vw;
  --left-end: 9vw;
  left: 15vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(19) {
  --size: 0.6vw;
  --left-ini: 9vw;
  --left-end: -1vw;
  left: 49vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(20) {
  --size: 0.8vw;
  --left-ini: -4vw;
  --left-end: 1vw;
  left: 32vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(21) {
  --size: 1vw;
  --left-ini: -3vw;
  --left-end: -1vw;
  left: 82vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(22) {
  --size: 0.6vw;
  --left-ini: 5vw;
  --left-end: 3vw;
  left: 17vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(23) {
  --size: 1vw;
  --left-ini: 4vw;
  --left-end: -1vw;
  left: 34vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(24) {
  --size: 1vw;
  --left-ini: -7vw;
  --left-end: -3vw;
  left: 80vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(25) {
  --size: 0.2vw;
  --left-ini: 1vw;
  --left-end: -7vw;
  left: 97vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(26) {
  --size: 0.4vw;
  --left-ini: 7vw;
  --left-end: 5vw;
  left: 56vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(27) {
  --size: 1vw;
  --left-ini: 4vw;
  --left-end: 10vw;
  left: 53vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(28) {
  --size: 0.2vw;
  --left-ini: 0vw;
  --left-end: 9vw;
  left: 45vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(29) {
  --size: 0.8vw;
  --left-ini: -2vw;
  --left-end: -1vw;
  left: 63vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(30) {
  --size: 1vw;
  --left-ini: 0vw;
  --left-end: -8vw;
  left: 99vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(31) {
  --size: 0.2vw;
  --left-ini: 9vw;
  --left-end: 6vw;
  left: 2vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(32) {
  --size: 0.4vw;
  --left-ini: 4vw;
  --left-end: -7vw;
  left: 96vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(33) {
  --size: 1vw;
  --left-ini: 5vw;
  --left-end: -8vw;
  left: 51vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(34) {
  --size: 0.8vw;
  --left-ini: 4vw;
  --left-end: -1vw;
  left: 24vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(35) {
  --size: 0.2vw;
  --left-ini: 4vw;
  --left-end: 7vw;
  left: 64vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(36) {
  --size: 1vw;
  --left-ini: -1vw;
  --left-end: -6vw;
  left: 99vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(37) {
  --size: 1vw;
  --left-ini: 7vw;
  --left-end: 9vw;
  left: 6vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(38) {
  --size: 0.2vw;
  --left-ini: -8vw;
  --left-end: -9vw;
  left: 87vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(39) {
  --size: 1vw;
  --left-ini: -7vw;
  --left-end: 6vw;
  left: 65vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(40) {
  --size: 0.8vw;
  --left-ini: 4vw;
  --left-end: 0vw;
  left: 25vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(41) {
  --size: 0.6vw;
  --left-ini: 7vw;
  --left-end: -8vw;
  left: 40vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(42) {
  --size: 0.8vw;
  --left-ini: -9vw;
  --left-end: -2vw;
  left: 5vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(43) {
  --size: 0.4vw;
  --left-ini: -5vw;
  --left-end: -8vw;
  left: 39vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(44) {
  --size: 0.4vw;
  --left-ini: 10vw;
  --left-end: 9vw;
  left: 68vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(45) {
  --size: 0.4vw;
  --left-ini: -6vw;
  --left-end: 5vw;
  left: 45vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(46) {
  --size: 0.4vw;
  --left-ini: 5vw;
  --left-end: -9vw;
  left: 38vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(47) {
  --size: 0.4vw;
  --left-ini: 0vw;
  --left-end: -6vw;
  left: 14vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(48) {
  --size: 1vw;
  --left-ini: 9vw;
  --left-end: -9vw;
  left: 99vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(49) {
  --size: 0.6vw;
  --left-ini: -1vw;
  --left-end: -6vw;
  left: 68vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(50) {
  --size: 0.2vw;
  --left-ini: 0vw;
  --left-end: 9vw;
  left: 37vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -8s;
}

.raindrop {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}

@keyframes rainfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}
.raindrop:nth-child(1) {
  --size: 0.4vw;
  --left-ini: -7vw;
  --left-end: 7vw;
  left: 4vw;
  animation: rainfall 10s linear infinite;
  animation-delay: -3s;
}

.raindrop:nth-child(2) {
  --size: 0.8vw;
  --left-ini: -4vw;
  --left-end: -5vw;
  left: 85vw;
  animation: rainfall 15s linear infinite;
  animation-delay: -10s;
}

.raindrop:nth-child(3) {
  --size: 0.6vw;
  --left-ini: 2vw;
  --left-end: 0vw;
  left: 1vw;
  animation: rainfall 8s linear infinite;
  animation-delay: -1s;
}

.raindrop:nth-child(4) {
  --size: 0.8vw;
  --left-ini: 1vw;
  --left-end: -9vw;
  left: 18vw;
  animation: rainfall 9s linear infinite;
  animation-delay: -6s;
}

.raindrop:nth-child(5) {
  --size: 0.2vw;
  --left-ini: -8vw;
  --left-end: -7vw;
  left: 64vw;
  animation: rainfall 12s linear infinite;
  animation-delay: -10s;
}

.raindrop:nth-child(6) {
  --size: 0.2vw;
  --left-ini: -2vw;
  --left-end: -3vw;
  left: 29vw;
  animation: rainfall 7s linear infinite;
  animation-delay: -3s;
}

.raindrop:nth-child(7) {
  --size: 0.6vw;
  --left-ini: -9vw;
  --left-end: -7vw;
  left: 12vw;
  animation: rainfall 8s linear infinite;
  animation-delay: -7s;
}

.raindrop:nth-child(8) {
  --size: 0.4vw;
  --left-ini: -4vw;
  --left-end: -7vw;
  left: 80vw;
  animation: rainfall 15s linear infinite;
  animation-delay: -6s;
}

.raindrop:nth-child(9) {
  --size: 0.6vw;
  --left-ini: -4vw;
  --left-end: 4vw;
  left: 91vw;
  animation: rainfall 6s linear infinite;
  animation-delay: -3s;
}

.raindrop:nth-child(10) {
  --size: 1vw;
  --left-ini: 3vw;
  --left-end: -7vw;
  left: 83vw;
  animation: rainfall 11s linear infinite;
  animation-delay: -1s;
}

.raindrop:nth-child(11) {
  --size: 0.4vw;
  --left-ini: -6vw;
  --left-end: -9vw;
  left: 28vw;
  animation: rainfall 15s linear infinite;
  animation-delay: -10s;
}

.raindrop:nth-child(12) {
  --size: 0.4vw;
  --left-ini: -5vw;
  --left-end: -3vw;
  left: 23vw;
  animation: rainfall 11s linear infinite;
  animation-delay: -4s;
}

.raindrop:nth-child(13) {
  --size: 0.2vw;
  --left-ini: 10vw;
  --left-end: 2vw;
  left: 18vw;
  animation: rainfall 11s linear infinite;
  animation-delay: -3s;
}

.raindrop:nth-child(14) {
  --size: 0.8vw;
  --left-ini: 8vw;
  --left-end: 8vw;
  left: 72vw;
  animation: rainfall 12s linear infinite;
  animation-delay: -9s;
}

.raindrop:nth-child(15) {
  --size: 0.2vw;
  --left-ini: 4vw;
  --left-end: 2vw;
  left: 73vw;
  animation: rainfall 11s linear infinite;
  animation-delay: -1s;
}

.raindrop:nth-child(16) {
  --size: 1vw;
  --left-ini: 6vw;
  --left-end: 4vw;
  left: 33vw;
  animation: rainfall 13s linear infinite;
  animation-delay: -4s;
}

.raindrop:nth-child(17) {
  --size: 0.6vw;
  --left-ini: 9vw;
  --left-end: -5vw;
  left: 15vw;
  animation: rainfall 14s linear infinite;
  animation-delay: -5s;
}

.raindrop:nth-child(18) {
  --size: 0.2vw;
  --left-ini: 2vw;
  --left-end: 6vw;
  left: 81vw;
  animation: rainfall 11s linear infinite;
  animation-delay: -10s;
}

.raindrop:nth-child(19) {
  --size: 0.2vw;
  --left-ini: -4vw;
  --left-end: 5vw;
  left: 30vw;
  animation: rainfall 6s linear infinite;
  animation-delay: -5s;
}

.raindrop:nth-child(20) {
  --size: 0.2vw;
  --left-ini: -3vw;
  --left-end: 1vw;
  left: 76vw;
  animation: rainfall 15s linear infinite;
  animation-delay: -2s;
}

.raindrop:nth-child(21) {
  --size: 0.2vw;
  --left-ini: -9vw;
  --left-end: -2vw;
  left: 78vw;
  animation: rainfall 14s linear infinite;
  animation-delay: -6s;
}

.raindrop:nth-child(22) {
  --size: 0.2vw;
  --left-ini: 1vw;
  --left-end: -4vw;
  left: 67vw;
  animation: rainfall 15s linear infinite;
  animation-delay: -8s;
}

.raindrop:nth-child(23) {
  --size: 0.8vw;
  --left-ini: -3vw;
  --left-end: -1vw;
  left: 4vw;
  animation: rainfall 7s linear infinite;
  animation-delay: -8s;
}

.raindrop:nth-child(24) {
  --size: 0.4vw;
  --left-ini: 2vw;
  --left-end: 7vw;
  left: 57vw;
  animation: rainfall 13s linear infinite;
  animation-delay: -2s;
}

.raindrop:nth-child(25) {
  --size: 0.2vw;
  --left-ini: 4vw;
  --left-end: 4vw;
  left: 30vw;
  animation: rainfall 14s linear infinite;
  animation-delay: -1s;
}

.raindrop:nth-child(26) {
  --size: 0.8vw;
  --left-ini: -6vw;
  --left-end: 3vw;
  left: 33vw;
  animation: rainfall 11s linear infinite;
  animation-delay: -5s;
}

.raindrop:nth-child(27) {
  --size: 1vw;
  --left-ini: 5vw;
  --left-end: -7vw;
  left: 44vw;
  animation: rainfall 14s linear infinite;
  animation-delay: -3s;
}

.raindrop:nth-child(28) {
  --size: 0.4vw;
  --left-ini: -4vw;
  --left-end: -5vw;
  left: 60vw;
  animation: rainfall 11s linear infinite;
  animation-delay: -3s;
}

.raindrop:nth-child(29) {
  --size: 1vw;
  --left-ini: -5vw;
  --left-end: 8vw;
  left: 65vw;
  animation: rainfall 8s linear infinite;
  animation-delay: -5s;
}

.raindrop:nth-child(30) {
  --size: 0.6vw;
  --left-ini: 2vw;
  --left-end: 9vw;
  left: 71vw;
  animation: rainfall 15s linear infinite;
  animation-delay: -9s;
}

.raindrop:nth-child(31) {
  --size: 0.6vw;
  --left-ini: -7vw;
  --left-end: 0vw;
  left: 20vw;
  animation: rainfall 7s linear infinite;
  animation-delay: -7s;
}

.raindrop:nth-child(32) {
  --size: 0.4vw;
  --left-ini: -3vw;
  --left-end: 3vw;
  left: 17vw;
  animation: rainfall 12s linear infinite;
  animation-delay: -3s;
}

.raindrop:nth-child(33) {
  --size: 0.8vw;
  --left-ini: 8vw;
  --left-end: -1vw;
  left: 100vw;
  animation: rainfall 15s linear infinite;
  animation-delay: -9s;
}

.raindrop:nth-child(34) {
  --size: 0.2vw;
  --left-ini: 1vw;
  --left-end: 10vw;
  left: 35vw;
  animation: rainfall 15s linear infinite;
  animation-delay: -5s;
}

.raindrop:nth-child(35) {
  --size: 0.2vw;
  --left-ini: 4vw;
  --left-end: 4vw;
  left: 87vw;
  animation: rainfall 7s linear infinite;
  animation-delay: -7s;
}

.raindrop:nth-child(36) {
  --size: 0.4vw;
  --left-ini: 9vw;
  --left-end: -3vw;
  left: 92vw;
  animation: rainfall 14s linear infinite;
  animation-delay: -1s;
}

.raindrop:nth-child(37) {
  --size: 1vw;
  --left-ini: 0vw;
  --left-end: -4vw;
  left: 70vw;
  animation: rainfall 6s linear infinite;
  animation-delay: -8s;
}

.raindrop:nth-child(38) {
  --size: 0.4vw;
  --left-ini: 4vw;
  --left-end: -8vw;
  left: 80vw;
  animation: rainfall 14s linear infinite;
  animation-delay: -7s;
}

.raindrop:nth-child(39) {
  --size: 1vw;
  --left-ini: -5vw;
  --left-end: 5vw;
  left: 43vw;
  animation: rainfall 15s linear infinite;
  animation-delay: -7s;
}

.raindrop:nth-child(40) {
  --size: 0.6vw;
  --left-ini: 2vw;
  --left-end: 5vw;
  left: 69vw;
  animation: rainfall 6s linear infinite;
  animation-delay: -6s;
}

.raindrop:nth-child(41) {
  --size: 0.8vw;
  --left-ini: -8vw;
  --left-end: -5vw;
  left: 30vw;
  animation: rainfall 11s linear infinite;
  animation-delay: -1s;
}

.raindrop:nth-child(42) {
  --size: 1vw;
  --left-ini: -4vw;
  --left-end: 8vw;
  left: 82vw;
  animation: rainfall 7s linear infinite;
  animation-delay: -10s;
}

.raindrop:nth-child(43) {
  --size: 0.6vw;
  --left-ini: 2vw;
  --left-end: -2vw;
  left: 54vw;
  animation: rainfall 8s linear infinite;
  animation-delay: -7s;
}

.raindrop:nth-child(44) {
  --size: 0.4vw;
  --left-ini: 8vw;
  --left-end: -4vw;
  left: 2vw;
  animation: rainfall 11s linear infinite;
  animation-delay: -1s;
}

.raindrop:nth-child(45) {
  --size: 1vw;
  --left-ini: -2vw;
  --left-end: 2vw;
  left: 99vw;
  animation: rainfall 7s linear infinite;
  animation-delay: -9s;
}

.raindrop:nth-child(46) {
  --size: 1vw;
  --left-ini: -3vw;
  --left-end: -7vw;
  left: 63vw;
  animation: rainfall 10s linear infinite;
  animation-delay: -9s;
}

.raindrop:nth-child(47) {
  --size: 0.8vw;
  --left-ini: 0vw;
  --left-end: 0vw;
  left: 89vw;
  animation: rainfall 15s linear infinite;
  animation-delay: -4s;
}

.raindrop:nth-child(48) {
  --size: 0.4vw;
  --left-ini: 5vw;
  --left-end: -5vw;
  left: 81vw;
  animation: rainfall 8s linear infinite;
  animation-delay: -3s;
}

.raindrop:nth-child(49) {
  --size: 0.2vw;
  --left-ini: 7vw;
  --left-end: -7vw;
  left: 45vw;
  animation: rainfall 9s linear infinite;
  animation-delay: -3s;
}

.raindrop:nth-child(50) {
  --size: 0.8vw;
  --left-ini: -2vw;
  --left-end: -8vw;
  left: 25vw;
  animation: rainfall 12s linear infinite;
  animation-delay: -3s;
}/*# sourceMappingURL=main.css.map */